.card {
  width: 250px;
  height: 375px;
  perspective: 1000px;
  border: 1px solid transparent;
  transition: border 0.5s ease;
}

.card.selected {
  border: 1px solid #f0f6f0;
}

.card.reincarnating {
  border: 1px solid transparent !important;
  transition: none !important;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.card-front img,
.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-back {
  transform: rotateY(180deg);
}

.card-description-desktop h3,
.card-description-mobile h3 {
  text-decoration: underline;
  margin-bottom: 15px;
}

.card-description-mobile {
  display: block;
  /* Mobile default: show */
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.card-description-desktop {
  display: none;
  /* Mobile default: hide */
  text-align: center;
  margin-top: 80px;
  font-size: 24px;
}

.card-description-desktop h3,
.card-description-mobile h3 {
  text-decoration: underline;
  margin-bottom: 15px;
}

@media (min-width: 769px) {
  .card-description-mobile {
    display: none;
  }

  .card-description-desktop {
    display: block;
  }

  .card {
    width: 320px;
    height: 480px;
  }
}