.button-container {
  display: flex;
  justify-content: center;

}

.reincarnate-button {
  cursor: pointer;
  padding: 15px;
  font-size: 30px;
  border: none;
  background-color: #f0f6f0;
  color: #000;
  border-radius: 3px;
}

.reincarnate-button:disabled {
  background-color: #f0f6f0;
  color: #000;
  cursor: default;
}

.reincarnate-button:not(:disabled):hover {
  opacity: 0.8;
}

@media (min-width: 769px) {
  .reincarnate-button {
    padding: 18px;
    font-size: 40px;
  }
}