.card {
  width: 300px;
  height: 450px;
  perspective: 1000px;
  border: 1px solid transparent;
  
  /*transition: filter 0.3s ease;*/
  transition: border 0.3s ease;
}

/*
.card.selected {
  filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.8));
}
  */

.card.selected {
  border: 1px solid #f0f6f0;
   /*transform: scale(1.05);*/
}

  

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.card-front img,
.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-back {
  transform: rotateY(180deg);
}

/*

.card-row {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 1rem;
}



.btn-reincarnate {
  background: #2d6cdf;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

.btn-reincarnate:hover {
  background: #1f4eb3;
}
  */
