* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: riFont;
  src: url('/font.otf');
}

body {
  background-color: #000;
  color: #fff;
  font-family: riFont, sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

button {
  font-family: riFont, sans-serif;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 769px) {
  .cards-container {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
  }

  body {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}