.intro-screen {
  position: fixed;
  inset: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  /*z-index: 9999;*/
  /*overflow: hidden;*/
}

.intro-text {
  color: white;
  font-size: 2rem;
  font-family: "riFont";
  animation: growFade 5s ease forwards;
}

@keyframes growFade {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  30% {
    opacity: 1;
    transform: scale(1.1);
  }
  70% {
    opacity: 1;
    transform: scale(1.4);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
