.button-container {
  display: flex;
  justify-content: center;

}

.reincarnate-button {
  cursor: pointer;
  font-family: riFont;
  padding: 20px;
  font-size: 40px;
  border: none;
  background-color: #f0f6f0;
}

.reincarnate-button:disabled {
  background-color: #f0f6f0;
  color: black;
  cursor: default;
}

.reincarnate-button:not(:disabled):hover {
  opacity: 0.8;
}
