.button-container {
  display: flex;
  justify-content: center;

}

.reincarnate-button {
  cursor: pointer;
  font-family: riFont, sans-serif;
  /*
  padding: clamp(15px, 1.85vw, 20px);
  font-size: clamp(30px, 3.7vw, 40px);
  */
  padding: min(20px, 1.85vw);
  font-size: min(40px, 3.7vw);

  border: none;
  background-color: #f0f6f0;
  color: black;
  border-radius: clamp(3px, 0.28vw, 5px);
}

.reincarnate-button:disabled {
  background-color: #f0f6f0;
  color: black;
  cursor: default;
}

.reincarnate-button:not(:disabled):hover {
  opacity: 0.8;
}

@media (max-width: 480px) {
  .reincarnate-button {
    padding: 15px;
    font-size: 30px;
  }
}

